<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person and License</title>
</head>
<body>
    <h1 th:text="${person.firstName + ' ' + person.lastName}"></h1>

    <p th:if="${personLicense != null}">
        <strong>License Number:</strong> <span th:text="${personLicense.number}"></span>
    </p>
    <p th:if="${personLicense != null}">
        <strong>State:</strong> <span th:text="${personLicense.state}"></span>
    </p>
    <p th:if="${personLicense != null}">
        <strong>Expiration Date:</strong> <span th:text="${personLicense.expirationDate}"></span>
    </p>
</body>
</html>